/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Page title styling */
h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    text-align: center; /* Center the content horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
}

/* Registration form styling */
#registrationForm {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#registrationForm label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

#registrationForm input[type="text"],
#registrationForm input[type="email"],
#registrationForm input[type="number"],
#registrationForm input[type="password"],
#registrationForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#registrationForm textarea {
    resize: vertical;
}

#registrationForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#registrationForm input[type="submit"]:hover {
    background-color: #0056b3;
}
